{% comment %}
  앰버서더 회원가입 페이지 템플릿
  Shopify Admin > Themes > Edit code > templates 폴더에 추가
  파일명: page.ambassador-signup.liquid

  사용법:
  1. Shopify Admin > Pages > "Ambassador Signup" 페이지 생성
  2. Template suffix 를 "ambassador-signup" 으로 선택
  3. URL: /pages/ambassador-signup
{% endcomment %}

<div class="page-width" style="padding: 0; max-width: 100%;">
  {% section 'ambassador-signup' %}
</div>
